{% extends "food/base.html" %}
{% load static %}
{% block title%}
<title>Food App</title>
{%endblock title%}
<link rel = "stylesheet" href = {% static 'food/style.css'%}>
{% block body%}

<div class="d-flex align-items-center justify-content-center">
  <div class="container mt-2">
{% for item in item_list%}
<div class="card mb-3 " style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{item.image}}" class="img-fluid rounded-start" alt="item-image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.description}}</p>
        <p class="card-text"><small class="text-body-secondary">$ {{item.price}}</small></p>
      </div>
      <a href="/food/{{item.id  }}" class="btn btn-primary">Details</a>
    </div>
  </div>
</div>
{% endfor %}
</div>
</div>

{%endblock body%}



